Repository 4kClinton/Swyft-Driver: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Mobile app implementation pause
  android/gradle.properties
Due: none

PWA push notifications implementation
  public/sw.js
  src/main.jsx
Due: eslint --fix, prettier --write

PWA push notifications implementation
  src/main.jsx
Due: eslint --fix, prettier --write

PWA push notifications implementation one service worker
  public/firebase-messaging-sw.js
  src/App.jsx
Due: eslint --fix, prettier --write

driver UI
  firebase.js
  src/Components/Alert.jsx
  src/Components/BottomNav.jsx
  src/Components/Dash.jsx
  src/Components/GoOnlineButton.jsx
  src/Components/Map.jsx
  src/Styles/Alert.css
  src/Styles/Dash.css
  src/Styles/GoOnline.css
  src/Styles/Login.css
  src/index.css
Due: eslint --fix, prettier --write, stylelint --fix

keys
  firebase.js
Due: none

removed nav refresh
  .gitignore
  public/manifest.json
  src/Components/BottomNav.jsx
Due: eslint --fix, prettier --write

updated driver
  src/App.jsx
  src/Components/Dash.jsx
  src/Components/DeliveryDetails.jsx
  src/Components/Earnings.jsx
  src/Components/Map.jsx
  src/Components/Notifications.jsx
  src/Components/Rides.jsx
  src/Components/Support.jsx
  src/Styles/Dash.css
  src/Styles/Rides.css
  src/Styles/Rides.module.css
  src/index.css
Due: eslint --fix, prettier --write, stylelint --fix

Firebase env
  src/firebase/firebase.js
Due: none

disabled pull to refresh
  src/firebase/firebase.js
  src/index.css
Due: prettier --write, stylelint --fix

disabled pull to refresh
  src/firebase/firebase.js
Due: none

Delivery page error
  src/Components/DeliveryDetails.jsx
Due: eslint --fix, prettier --write

Delivery details error
  src/Components/DeliveryDetails.jsx
Due: eslint --fix, prettier --write

re-rendering issue fix
  src/App.css
  src/Components/Map.jsx
  src/Components/Verification.jsx
  src/Styles/Verification.css
  src/firebase/firebase.js
  src/index.css
Due: eslint --fix, prettier --write, stylelint --fix

firebase env issue fixed
  src/firebase/firebase.js
Due: none

fixed re-renders
  src/App.jsx
  src/Components/Map.jsx
  src/Components/Verification.jsx
Due: eslint --fix, prettier --write

install popup
  src/App.jsx
Due: eslint --fix, prettier --write

storage bucket
  src/Components/Verification.jsx
Due: eslint --fix, prettier --write

Fixed errors and dash price
  src/App.jsx
  src/Components/Dash.jsx
  src/Components/DeliveryDetails.jsx
  src/Components/Earnings.jsx
  src/Components/Rides.jsx
  src/Components/Verification.jsx
  src/Styles/Rides.css
  src/Styles/deliveryDetails.module.css
Due: eslint --fix, prettier --write, stylelint --fix

added forgot password
  src/App.jsx
  src/Components/Alert.jsx
  src/Components/ForgotPassword.jsx
  src/Components/Login.jsx
  src/Components/Notifications.jsx
  src/Components/Unverified.jsx
  src/Components/Verification.jsx
  src/Styles/Unverified.css
  src/Styles/Verification.css
  src/Styles/deliveryDetails.module.css
  src/assets/unverified.png
  src/routes.jsx
Due: eslint --fix, prettier --write, stylelint --fix

fixed alert
  src/Components/Alert.jsx
Due: eslint --fix, prettier --write

added first and last name
  src/App.jsx
  src/Components/DeliveryDetails.jsx
  src/Components/SignUp.jsx
  src/Components/Verification.jsx
Due: eslint --fix, prettier --write

updates
  .gitignore
  src/Components/Verification.jsx
Due: eslint --fix, prettier --write

Driver signup
  src/Components/SignUp.jsx
  src/Components/Verification.jsx
Due: eslint --fix, prettier --write

Driver signup
  src/Components/Verification.jsx
Due: eslint --fix, prettier --write

Conditional rendering of unverified page
  src/Components/Login.jsx
  src/Components/Verification.jsx
Due: eslint --fix, prettier --write

Id undefined error
  src/Components/Verification.jsx
Due: eslint --fix, prettier --write

Handled task 2 and task 3
  src/Components/Verification.jsx
Due: eslint --fix, prettier --write

ID undefined fix
  src/Components/Verification.jsx
Due: eslint --fix, prettier --write

Id undefined fix
  src/Components/Verification.jsx
Due: eslint --fix, prettier --write

Id undefined fixing 1
  src/Components/Verification.jsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.jsx) or (any of: *.tsx)
  prettier --write: ((any of: *.jsx) or (any of: *.css)) or (any of: *.tsx)
  stylelint --fix: any of: *.css
